# Ufuncs: Index Preservation

In [1]:
# importing libraries 
import pandas as pd 
import numpy as np

In [2]:
rng   = np.random.RandomState(42) # locked a random state 
ser   = pd.Series(rng.randint(0,10,4)) #made a series of 4 int 
ser #rendering of series ser

0    6
1    3
2    7
3    4
dtype: int32

In [3]:
#creating a data frame 
df  = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D']) #creating a df of 4 columns and 3 indices
df # rendering df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [4]:
# taking exp of series 
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [5]:
#some calculations on df
np.sin(df*np.pi/4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16