In [1]:
#importing libraries 
import numpy as np
import pandas as pd

## Pythonic Missing Data

In [2]:
#creating a list with missing data
vals1 = [1,None,3,4]
vals1

[1, None, 3, 4]

In [3]:
#comparing effecieny in different dtype
for dtype in ['object','int']:
    print("dtype=",dtype)
    %timeit np.arange(1E6,dtype=dtype).sum()
    print()

dtype= object
304 ms ± 25.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

dtype= int
11.5 ms ± 1.83 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

## NaN:Missing numerical data

In [6]:
#using nan for creating a list with missing data
vals2 = np.array([1,np.nan,3,4]) 
vals2.dtype

dtype('float64')

In [7]:
#adding to nan
1+np.nan

nan

In [8]:
#multiplying with nan
0*np.nan

nan

In [9]:
#baisc ufuc of pandas 
vals2.sum(),vals2.min(),vals2.max()

(nan, nan, nan)

In [11]:
#basic ufuc using np 
np.nansum(vals2),np.nanmin(vals2),np.nanmax(vals2)

(8.0, 1.0, 4.0)