# Ufuncs: Index Preservation

In [1]:
# importing libraries 
import pandas as pd 
import numpy as np

In [2]:
rng   = np.random.RandomState(42) # locked a random state 
ser   = pd.Series(rng.randint(0,10,4)) #made a series of 4 int 
ser #rendering of series ser

0    6
1    3
2    7
3    4
dtype: int32

In [3]:
#creating a data frame 
df  = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D']) #creating a df of 4 columns and 3 indices
df # rendering df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [4]:
# taking exp of series 
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [5]:
#some calculations on df
np.sin(df*np.pi/4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## Index Alignment

In [6]:
#creating two series namely area and population 
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127}, name='population')

print(area)
print(population)

Alaska        1723337
California     423967
Texas          695662
Name: area, dtype: int64
California    38332521
New York      19651127
Texas         26448193
Name: population, dtype: int64

In [7]:
#dividing two series 
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [9]:
#taking union of Index of both the series area and population 
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [10]:
#creating two new series 
A  = pd.Series([2,4,6],index=[0,1,2])
B  = pd.Series([1,3,5],index=[1,2,3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [11]:
#filling empty spaces with Zero 
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [13]:
#creating two DataFrame A and B
A = pd.DataFrame(rng.randint(0,20,(2,2)),columns=list('AB'))
B = pd.DataFrame(rng.randint(0,10,(3,3)),columns=list('BAC'))

print(A)
print(B)

    A   B
0  19   2
1   4  18
   B  A  C
0  6  4  8
1  6  1  3
2  8  1  9

In [14]:
#summing DataFrame A and B
A+B

      A     B   C
0  23.0   8.0 NaN
1   5.0  24.0 NaN
2   NaN   NaN NaN

In [16]:
#creating a filling agent for sum of DataFrame A and B
fill = A.stack().mean()
fill

10.75

In [17]:
#adding both DataFrame A & B using a filling agent for NaN
A.add(B,fill_value=fill)

       A      B      C
0  23.00   8.00  18.75
1   5.00  24.00  13.75
2  11.75  18.75  19.75