In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.Series([.25,.5,.75,1]) #creates a sequence of array and indices
print(data)
print(data.index) #to print index of data 
print(data[2])
print(data[1:3]) #to slice the series and create a sub array

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
RangeIndex(start=0, stop=4, step=1)
0.75
1    0.50
2    0.75
dtype: float64

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])

print(data)
print(data['c'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.75

In [4]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population  = pd.Series(population_dict) #created a key value pair of array for population dic 
print(population)
print(population['Texas'])
population['California':'Illinois'] #slicing population array

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64
26448193

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Objects

In [5]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [6]:
pd.Series(data=5,index=[100,200,300]) #created Series with same value but different key

100    5
200    5
300    5
dtype: int64

### DataFrame

In [7]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area  = pd.Series(area_dict)

states = pd.DataFrame({'population':population,'area':area}) #created dataframe table 
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [8]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [9]:
states.columns

Index(['area', 'population'], dtype='object')

In [10]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

### Create DataFrame

In [11]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [12]:
data = [{'a':i,'b':2*i} for i in range(1,4)]
pd.DataFrame(data)

   a  b
0  1  2
1  2  4
2  3  6

In [13]:
pd.DataFrame([{'a':1,'b':2},{'b':2,'c':5}]) #not as number due to lack of fileds

     a  b    c
0  1.0  2  NaN
1  NaN  2  5.0